@page "/"
@using TicTacToe.ViewModels
@using TicTacToe.Models

@code
{
    static readonly Player Player1 = new Player(1, Player.PlayerType.Human, "Player 1", "X");
    static readonly Player Player2 = new Player(2, Player.PlayerType.Human, "Player 2", "O");
    
    GameViewModel _gameViewModel = new GameViewModel(Player1, Player2);
}


<h1>Let's play a game!</h1>

<p>@_gameViewModel.Player1.Name</p>

<div class="container">
    <div class="row">
        <div class="col-sm">0</div>
        <div class="col-sm">1</div>
        <div class="col-sm">2</div>
    </div>
    <div class="row">
        <div class="col-sm">3</div>
        <div class="col-sm">4</div>
        <div class="col-sm">5</div>
    </div>
    <div class="row">
        <div class="col-sm">6</div>
        <div class="col-sm">7</div>
        <div class="col-sm">8</div>
    </div>
</div>